$TTL 86400
@   IN  SOA     ns1.megadataweb.com. root.megadataweb.com. (
                2022010101 ;Serial
                3600 ;Refresh
                1800 ;Retry
                604800 ;Expire
                86400 ;Minimum TTL
)
@       IN  NS      ns1.megadataweb.com.
@       IN  A       192.168.1.251
ns1     IN  A       192.168.1.251
www     IN  A       192.168.1.251
