$TTL 86400
@   IN  SOA     ns1.discover.com. root.discover.com. (
                2022010101 ;Serial
                3600 ;Refresh
                1800 ;Retry
                604800 ;Expire
                86400 ;Minimum TTL
)
@       IN  NS      ns1.discover.com.
252     IN  PTR     ns1.discover.com.
252     IN  PTR     www.discover.com.
